body{
    background-color: #eee;
    font-family: var(--mainFont);
}
.header .home{
    font-weight: 800;
}
.logo{
    display: flex;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
}
.logo img{
    width: 32px;
}
.navbar ul{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}
.header{
    background-color: #fff;
    padding: 20px;
}
.navbar ul li a{
    color: black;
}
.logo a{
    color: var(--mainColor);
    font-family: var(--headingfount);
}
.link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-family: var(--subFont);
    flex-wrap: wrap;
}
.link a{
    padding: 5.3541765213012695px 20.18113136291504px;
    border-radius: 10px;
    text-align: center;
}
.link .login{
    color: var(--mainColor);
    border: 2px solid var(--mainColor);
}
.link .Register{
    color: white;
    background-color: var(--mainColor);
}
.menu{
    display: none;
}
@media screen and (max-width: 992px){
    .navbar{
        display: none;
    }
    .menu{
        display: block;
        order: 2;
    }
    .link{
        display: none;
    }
}
@media screen and (max-width: 576px){
    .container{
        width: calc(100% - 120px);
    }
    .header .logo img{
        width: 24px;
    }
    .header .logo a{
        font-size: 13px;
    }
}
.footer{
    background-color:#393E46;
    color: #fff;
    font-family: var(--mainFont);
}
.footer-item a{
    color:#F4F4F4;
}
.start-footer .logo a{
    color: #fff;
}
.start-footer{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex-wrap: wrap;
}
.start-footer .item img{
    border: 1px solid white;
    width: 13.8px;
    height: 13.8px;
    padding: 5px;
    margin: 5px;
}
.footer-item nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}
.end-footer{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 80px;
    flex-wrap: wrap;
}