body {
    background-color: #fff;
    font-family: var(--mainFont);
}

.header .home {
    font-weight: 800;
}

/*Start Header */
.logo {
    display: flex;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
}

.logo img {
    width: 32px;
}

.navbar ul {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.header {
    background-color: #fff;
    padding: 20px 0px;
    box-shadow: 0px 5.6474391222000122px 9.23719596862793px rgba(0, 0, 0, 0.226);
}

.navbar ul li a {
    color: black;
}

.logo a {
    color: var(--mainColor);
    font-family: var(--headingfount);
}

.link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-family: var(--subFont);
    flex-wrap: wrap;
}

.link a {
    padding: 5.3541765213012695px 20.18113136291504px;
    border-radius: 10px;
    text-align: center;
}

.link .login {
    color: var(--mainColor);
    border: 2px solid var(--mainColor);
}

.link .Register {
    color: white;
    background-color: var(--mainColor);
}

.menu {
    display: none;
}

@media screen and (max-width: 992px) {
    .navbar {
        display: none;
    }

    .menu {
        display: block;
        order: 2;
    }

    .link {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: calc(100% - 120px);
    }

    .header .logo img {
        width: 24px;
    }

    .header .logo a {
        font-size: 13px;
    }
}

/*End Header */
/*Start Introduction*/
.introduction {
    padding: 50px 0;
}

.introduction .row {
    gap: 40px;
}

.introduction .content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: calc((100% - 40px) / 2);
    padding: 20px;
    flex-wrap: wrap;

}

.introduction .title {
    font-size: 27px;
    font-family: var(--mainFont);
    font-weight: 700;
    width: 300px;
    color: #141E32;
    display: flex;
    flex-wrap: wrap;
}

.introduction .intro-head {
    display: flex;
    flex-wrap: wrap;
    width: 41px;
    font-family: var(--subFont);
    font-weight: 400;
    color: var(--mainColor);
}

.introduction .link-intro {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 700;
    font-family: var(--subFont);
    flex-wrap: wrap;
}

.introduction .link-intro a {
    padding: 5.3541765213012695px 20.18113136291504px;
    border-radius: 10px;
    text-align: center;
}

.introduction .link-intro .Register {
    color: #FFFFFF;
    background-color: var(--mainColor);
    font-family: var(--subFont);
}

.introduction .link-intro .Play-Video {
    display: flex;
    align-items: center;
    color: black;
    gap: 5px;
}

.introduction .link-intro .Play-Video img {
    width: 28px;
    height: 28px;
}

.introduction .title strong {
    color: var(--mainColor);
}

.introduction .discription {
    display: flex;
    flex-wrap: wrap;
    color: #969696;
}

.introduction .Group {
    width: 45%;
    display: flex;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.introduction .Group img {
    width: 360px;
    margin-top: 25px;

}

@media screen and (max-width: 996px) {
    .introduction .Group {
        width: 100%;
        padding: 20px;
    }

    .introduction .Group img {
        margin-left: 250px;
    }

    .introduction .content {
        width: 100%;
        padding: 20px;
    }
}

@media screen and (max-width: 768px) {
    .introduction .Group img {
        margin-left: 0px;
    }
}

@media screen and (max-width: 576px) {
    .introduction .Group img {
        width: 200px;
    }
}

@media screen and (max-width: 420px) {
    .introduction .title {
        font-size: 20px;
        font-weight: 300;
        width: 150px;
    }

}

/*End Introduction*/

/*Start Get From Us*/
.fromus {
    padding: 30px 0;
    background-color: #f5f2f2ca;
    box-shadow: 0px 7.6474391222000122px 15.23719596862793px rgba(83, 83, 83, 0.1);
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.fromus .row {
    gap: 15px;
}

.fromus .main-fromus {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 100px;
}

.fromus .paragraph {
    display: flex;
    flex-direction: column;
    width: calc((100% - 40px) / 4);
    gap: 20px;
}

.fromus .paragraph .special {
    font-family: var(--spiFont);
    color: var(--mainColor);
}

.fromus .paragraph h1 {
    width: 200px;
    font-size: 27px;
}

.fromus p {
    color: #d1cbcb;
}

.fromus .paragraph p {
    color: #969696;
}

.main-fromus .data-teach {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fromus .Teacher {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    width: calc((100% - 40px) / 4);
    gap: 5px;
    background-color: var(--mainColor);
    width: 230px;
    height: 215px;
    border-radius: 15px;
    padding: 20px;
    color: #FFFFFF;
}

.fromus .Course {
    display: flex;
    flex-direction: column;
    width: calc((100% - 40px) / 4);
    gap: 5px;
    background-color: var(--mainColor);
    width: 230px;
    height: 215px;
    border-radius: 15px;
    padding: 20px;
    color: #FFFFFF;
    flex-wrap: wrap;
}

.fromus .learning {
    display: flex;
    flex-direction: column;
    width: calc((100% - 40px) / 4);
    gap: 5px;
    background-color: var(--mainColor);
    width: 230px;
    height: 215px;
    border-radius: 15px;
    padding: 20px;
    color: #FFFFFF;
    flex-wrap: wrap;
}

.main-fromus .imag img {
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 50px;
    margin-top: 10px;
}

.direction {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.direction img {
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 1350px) {
    .fromus .paragraph {
        width: 100%;
    }

    .fromus .Teacher {
        width: 28%;
        padding: 10px;
    }

    .fromus .Course {
        width: 28%;
        padding: 10px;
    }

    .fromus .learning {
        width: 28%;
        padding: 10px;
    }

    .fromus .main-fromus {
        margin-top: 20px;
    }
}

@media screen and (max-width: 996px) {
    .fromus .Teacher {
        width: 80%;
        gap: 20px;
    }

    .fromus .Course {
        width: 80%;
        gap: 20px;
    }

    .fromus .learning {
        width: 80%;
        gap: 20px;
    }
}

@media screen and (max-width: 576px) {
    .fromus .Teacher {
        width: 100%;
    }

    .fromus .Course {
        width: 100%;
    }

    .fromus .learning {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .fromus .Teacher {
        width: 100%;
        gap: 5px;
    }

    .fromus .Course {
        width: 100%;
        gap: 5px;
    }

    .fromus .learning {
        width: 100%;
        gap: 5px;
    }

    .main-fromus .imag img {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        margin-top: 5px;
    }
}

@media screen and (max-width: 345px) {
    .fromus .Teacher {
        height: 247px;
    }

    .fromus .Course {
        height: 247px;
    }

    .fromus .learning {
        height: 247px;
    }

    .main-fromus .imag img {
        width: 20px;
        height: 20px;
        border-radius: 5px;
        margin-top: 5px;
    }
}

/*End Get From Us*/
/*Start selected course*/
.selected-course {
    padding: 50px 0;
    background: linear-gradient(180deg, #545be8 0%, #2f3382 100%);
}

.selected-course .row {
    display: flex;
    gap: 30px;
}

.selected-course .img-selected {
    width: calc((100% - 30px) / 2);
    display: flex;
    flex-wrap: wrap;
}

.selected-course .data-selected {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    width: calc((100% - 30px) / 2);
}

#p1 {
    color: #F0C932;
    font-family: var(--subFont);
}

#p2 {
    color: #c3c3c3;
    font-family: var(--mainFont);
    width: 400px;
}

.selected-course .data-selected h1 {
    color: #fff;
    font-family: Poppins;
    font-weight: 700;
    font-size: 30px;
    width: 300px;
}

.selected-course .img-selected img {
    width: 380px;
}

.selected-course .data-selected .num {
    display: flex;
    gap: 80px;
    align-items: center;
    font-family: var(--subFont);
    flex-wrap: wrap;
}

.num p {
    color: #c3c3c3;
}

.num h3 {
    color: #F0C932;
}

.num .num-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

@media screen and (max-width: 996px) {
    .selected-course .img-selected {
        order: 1;
        width: 100%;
    }

    .selected-course .data-selected {
        width: 100%;
    }

    .selected-course .row {
        gap: 45px;
    }

    .selected-course .data-selected h1 {
        width: 100%;
    }

    #p2 {
        width: 100%;
    }

    .selected-course .data-selected .num {
        gap: 20px;
    }
}

@media screen and (max-width: 445px) {
    .selected-course .data-selected .num {
        flex-direction: column;
    }
}

/*End selected course*/
/*Start Available Courses*/
.courses {
    padding: 50px 0;
}

.courses .row {
    gap: 40px;
    align-items: normal;
}

.courses-items,
.course-desc {
    width: calc((100% - 40px) / 2);
}

.courses-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.course {
    width: calc((100% - 20px) / 2);
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 5px;
    box-shadow: 0px 7.437575340270996px 7.437575340270996px rgb(116, 112, 112);
    border-radius: 5px;
}

.course-card {
    position: relative;
}

.course-info span:first-of-type {
    background-color: var(--mainColor);
    padding: 10px;
}

.course-info span:last-of-type {
    align-self: flex-end;
}

.course img {
    width: 100%;
    filter: brightness(80%);
    display: flex;
    box-shadow: 0px 7.437575340270996px 7.437575340270996px rgb(148, 143, 143);
    flex-wrap: wrap;
}

.course-info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: flex-start;
}

.course-details {
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.course .tag {
    color: #969696;
    display: flex;
    gap: 15px;
    padding: 10px;
}

.course-details span {
    color: var(--mainColor);
    font-weight: 400;
    font-size: 12px;
}

.course-info .price {
    font-weight: 700;
    font-size: 18px;
}

.course-desc {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 45%;
    padding: 20px;
    flex-wrap: wrap;
    box-shadow: 0px 7.6474391222000122px 15.23719596862793px #969696;
    border-bottom-right-radius:600px;
    border-top-left-radius:30px;
    
}
.course-desc .link-course{
    display: flex;
    flex-wrap: wrap;
}
.course-desc .link-course a {
    padding: 5.3541765213012695px 20.18113136291504px;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: var(--mainColor);
    font-family: var(--subFont);
}

#p-desc {
    color: var(--mainColor);
    font-family: var(--subFont);
}

.course-desc h1 {
    color: black;
    font-family: Poppins;
    font-weight: 700;
    font-size: 30px;
    width: 200px;
}
@media screen and (max-width: 1350px) {
    .courses-items {
        flex-wrap: nowrap;
        width: 100%;
        order: 1;

    }
    .course-desc {
        width: 100%;
    }
    .course-info span:first-of-type {
        padding: 5px;
        font-size: 10px;
    }
    .course-info .price {
        font-size: 13px;
    }
    .course-details{
        flex-direction: column;
        padding: 5px;
    }
    .course .tag{
        gap: 8px;
        font-size: 12px;
        font-weight: 400;
        padding: 5px;
    }
    .course-desc{
        border-bottom-right-radius :100px;
        border-top-right-radius:100px;
}
}
@media screen and (max-width: 850px) {
    .courses-items {
        flex-wrap: wrap;
        width: 100%;
    }
} 
@media screen and (max-width: 550px) {
    .course-info {
        flex-direction: column;
        gap: 5px;
        padding: 10px;
    }
    .course-desc {
        width: 100%;
    }
    .course-info span:first-of-type {
        padding: 5px;
        font-size: 10px;
    }
    .course-info .price {
        font-size: 13px;
    }
    .course-details{
        flex-direction: column;
        gap: 5px;
        padding: 10px;
    }
}
@media screen and (max-width: 490px) {
    .course-info span:first-of-type {
        padding: 1px;
        font-size: 8px;
    }
    .course-info .price {
        font-size: 10px;
    }
    .course-details h3{
        font-size: 13px;
    }
    .course .tag{
        flex-direction: column;
    }

}
@media screen and (max-width: 352px) {
    .course-details h3{
        font-size: 10px;
    }
    .course-info span:first-of-type {
        padding: 0.5px;
        font-size: 5px;
    }
    .course-info .price {
        font-size: 8px;
    }
}




















/*End Available Courses*/

/*Start Testimonials*/
.testimonials {
    padding: 50px 0;
}

.testimonials .row {
    gap: 40px;
    font-family: var(--mainFont);
}


.testimonials h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;

}

.testimonials .row {
    gap: 40px;
    font-family: var(--mainFont);
}

.testimonial {
    box-shadow: 0px 8.23719596862793px 8.23719596862793px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: calc((100% - 40px) / 2);
    background-color: #ffffff;
}

.user-data span {
    color: #969696;
}

.testimonial .user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.testimonial .user-data {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.testimonial .user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.testimonial blockquote {
    color: #646464;
}

.rating i {
    color: gold;
}

@media screen and (max-width: 996px) {
    .testimonial {
        width: 100%;
    }
}

/*End Testimonials*/


/*Start Footer */
.footer {
    background-color: #393E46;
    color: #fff;
    font-family: var(--mainFont);
}

.footer-item a {
    color: #F4F4F4;
}

.start-footer .logo a {
    color: #fff;
}

.start-footer {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
}

.start-footer .item img {
    border: 1px solid white;
    width: 13.8px;
    height: 13.8px;
    padding: 5px;
    margin: 5px;
}

.footer-item nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}

.end-footer {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    padding: 60px 0px;
    flex-wrap: wrap;
}

.end-footer .footer-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (max-width: 1200px) {
    .start-footer {
        width: 100%;
        padding: 50px;
    }

    .end-footer {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .end-footer {
        width: 100%;
    }

    .end-footer .footer-item {
        width: 40%;
        margin: 20px;
    }
}

/* End Footer */